body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: rgb(96, 13, 23);
  background-image: url('images/lisa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  font-size: 18px;
}
a{
  all: unset;
}

body, a:link, a:visited, a:active{
  color: rgb(254, 203, 0);
}
.title, .addDancerButton, .lineUp, .maybe{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: rgb(53, 99, 97);
}
.title{
  background-color: #777;
  float:left;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.thumbs-up-dancer{
  position:absolute;
}
/* .thumbs-up-dancer:hover{
  transform:scale(2);
} */
.thumbs-down-dancer{
  position:absolute;
}
/* .thumbs-down-dancer:hover{
  transform:scale(2);
} */